<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="regresar()" fill="clear" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
      <ion-title>Cardex</ion-title>
      <ion-button (click)="guardarInventario()" fill="clear" slot="end" size="medium">
        <ion-icon name="save-outline" [color]=" cardexSinSalvar ? 'danger' : 'success'" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>{{ isa.clienteAct.nombre }}</h1>
  </ion-text>
  <p></p>
  
  <ion-list>
    <ion-item *ngFor="let item of cardexHistorico; let i = index" (click)="abrirCardex(i)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5">
            <div>{{ item.fecha | date: shortDate }}</div>
          </ion-col>
          <ion-col size="3">
            <div>{{ item.tipoDocumento }}</div>
          </ion-col>
          <ion-col size="2">
            <div>{{ item.codProducto }}</div>
          </ion-col>
          <ion-col size="2">
            <div>{{ item.cantPedido }}</div>
          </ion-col>
          <ion-col size="12">
            <div>{{ item.desProducto }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <p></p>
  <ion-button (click)="salvarCardex()" expand="block" color="success" shape="round">
    Guardar
  </ion-button>
  
</ion-content>
