
<ion-item>
  <ion-label>SubTotal: </ion-label>
  <ion-label slot="end">{{ st }}</ion-label>
</ion-item>
<ion-item>
  <ion-label>IVA: </ion-label>
  <ion-label slot="end">{{ iva }}</ion-label>
</ion-item>
<ion-item>
  <ion-label>Desc Línea: </ion-label>
  <ion-label slot="end">{{ desLinea }}</ion-label>
</ion-item>
<ion-item>
  <ion-label>Desc General: </ion-label>
  <ion-label slot="end">{{ desGeneral }}</ion-label>
</ion-item>
<ion-item>
  <ion-label>Total: </ion-label>
  <ion-label slot="end">{{ tot }}</ion-label>
</ion-item>
