<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="regresar()" fill="clear" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title align-text-center>Liquidaciones</ion-title>
      <ion-button (click)="liquidar()" fill="clear" slot="end" size="medium">
        <ion-icon name="save-outline" color="primary" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">Efectivo Col:</ion-col>
          <ion-col size="6">{{ montoEfectivoL | colones }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">Efectivo Dol:</ion-col>
          <ion-col size="6">{{ montoEfectivoD | colones : 2 : "." : "," : "$"}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">Cheques Col:</ion-col>
          <ion-col size="6">{{ montoChequeL | colones }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">Cheques Dol:</ion-col>
          <ion-col size="6">{{ montoChequeD | colones  : 2 : "." : "," : "$"}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item color="light">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5" class="ion-text-center">Recibo</ion-col>
          <ion-col size="2" class="ion-text-center">Fecha</ion-col>
          <ion-col size="5" class="ion-text-center">Monto</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <p></p>
    <ion-item *ngFor="let item of recibos; let i = index">
      <ion-grid fixed>
        <ion-row (click)="abrirDetalleRecibo(i)">
          <ion-col size="5">
            <div *ngIf="(item.tipoDoc === 'R')">
              <ion-label [color]="item.envioExitoso ? 'success' : 'danger'">{{item.numeroRecibo}}</ion-label>
            </div>
            <div *ngIf="!(item.tipoDoc === 'R')">
              <ion-label [color]="item.envioExitoso ? 'primary' : 'danger'">{{item.numeroRecibo}}</ion-label>
            </div>
          </ion-col>
          <ion-col size="2">{{item.fecha | date : 'shortDate'}}</ion-col>
          <ion-col size="4" class="ion-text-end">
            <div *ngIf="(item.moneda === 'L')">
              {{item.montoLocal | colones}}
            </div>
            <div *ngIf="!(item.moneda === 'L')">
              {{item.montoDolar | colones : 2 : "." : "," : "$"}}
            </div>
          </ion-col>
          <ion-col size="1">
            <div *ngIf="(!(item.montoEfectivoL > 0 && item.montoChequeL > 0) && item.tipoDoc === 'R')">
              <ion-icon slot="start" [name]="item.montoEfectivoL > 0 ? 'cash-outline' : 'receipt-outline'" 
                                     [color]="item.montoEfectivoL > 0 ? 'success' : 'primary'"></ion-icon>
            </div>
            <div *ngIf="((item.montoEfectivoL > 0 && item.montoChequeL > 0) && item.tipoDoc === 'R')">
              <ion-icon slot="start" name="duplicate-outline" color="danger"></ion-icon>
            </div>
            <div *ngIf="(item.tipoDoc === 'A')">
              <ion-icon slot="start" name="skull-outline" color="danger"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12">{{item.codCliente}} - {{item.codCliente | cliente}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

