
.grid-row {
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior */
    padding-bottom: 5px; /* Añade un espacio entre las filas */
    margin-bottom: 5px; /* Agrega un margen inferior entre las filas */
  }
