<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="regresar()" fill="clear" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Faltantes</ion-title>
      <ion-button (click)="agregar()" fill="clear" slot="end" size="medium">
        <ion-icon name="add-outline" color="danger" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item color="light">
    <ion-text color="primary">
      <h2>{{ isa.clienteAct.nombre }}</h2>
    </ion-text>
  </ion-item>
  <ion-searchbar mode="ios" palceholder="Buscar item" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item color="light">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <div class="ion-text-center">
              <ion-text>
                Artículo
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="9">
            <div class="ion-text-center">
              <ion-text>
                Causa
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let item of stockOuts">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <div class="ion-text-center">
              <ion-text>
                {{item.idProducto}}
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="ion-text-right" *ngIf="!item.cant_Vencen">
              <ion-text>
                {{item.justificacion}}
              </ion-text>
            </div>
            <div class="ion-text-right" *ngIf="item.cant_Vencen">
              <ion-text color="danger">
                {{item.justificacion}} {{item.vencimiento | date : "shortDate"}} ({{item.cant_Vencen}})
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="ion-text-left">
              <ion-text color="primary">
                {{item.nombre}}
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
