<ion-header>
  <ion-toolbar color="dark">
   
      <ion-avatar slot="start" style="height: 40px;width: 40px;margin-left: 10px;">
        <img src="assets/isa100.png" />
      </ion-avatar>
    <ion-title>
      Configuracion - {{isa.varConfig.numRuta}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row style="height:120px">
      <ion-col size="6" size-lg>
        <ion-button style="height:100%" (click)="configRuta()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="enter-outline"></ion-icon>
          Ruta
        </ion-button>
      </ion-col>
      <ion-col size="6" size-lg>
        <ion-button style="height:100%" (click)="cargarDatos()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="enter-outline"></ion-icon>
          Sync
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height:120px">
      <ion-col size="6">
        <ion-button style="height:100%" (click)="onClick()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="enter-outline"></ion-icon>
          Promo
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="height:100%" (click)="onClick()" size="large" expand="block" color="warning">
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          Reset
        </ion-button>
      </ion-col>
    </ion-row>
    <p></p>
  </ion-grid>
</ion-content>
