<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="regresar()" fill="clear" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Cardex</ion-title>
      <ion-button (click)="guardarCardex()" fill="clear" slot="end" size="medium">
        <ion-icon name="save-outline" [color]="isaCardex.cardexSinSalvar ? 'danger' : 'success'" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item color="light">
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h1>{{ isa.clienteAct.nombre }}</h1>
      </ion-text>
    </ion-label>
  </ion-item>
  <p></p>
  <ion-list>
    <ion-list-header color="light" lines="full">
      <ion-grid>
        <ion-row color="light">
          <ion-col size="3">
            <div class="ion-text-center">
              Producto
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-text-end">
              Descuento
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-text-end">
              Inventario
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-text-end">
              Pedido
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of cardex; let i = index" lines="full">
      <ion-item >
        <ion-grid>    
          <ion-row>
            <ion-col size="3">
              <div>
                {{item.codProducto}}
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="ion-text-end">
                <ion-input type="number" placeholder="?" value="{{item.descuento}}" [(ngModel)]="item.descuento"></ion-input>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="ion-text-end">
                <ion-input type="number" placeholder="?" value="{{item.cantInventario}}" [(ngModel)]="item.cantInventario"></ion-input>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="ion-text-end">
                <ion-input type="number" placeholder="?" value="{{item.cantPedido}}" [(ngModel)]="item.cantPedido"></ion-input>
              </div>
            </ion-col>
            <ion-col size="12">
              <div>
                <ion-text color="primary">
                  {{item.desProducto}}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="borrarLinea(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>  
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-button slot="end" (click)="agregarProducto()" fill="clear">
      <ion-icon name="add-circle-outline" color="success" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
