<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-title align-text-center>{{isa.varConfig.numRuta}}</ion-title>
      <ion-button fill="clear" slot="end" size="medium">
        <ion-icon name="wallet-outline" [color]="isa.clienteAct.moroso ? 'danger' : 'success'" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <ion-item color="light">
    <ion-label position="floating">Cliente</ion-label>
    <ion-input color="primary" [(ngModel)]="texto" clearInput="true" (keyup.enter)="buscarCliente( $event )"></ion-input>
    <ion-button (click)="buscarCliente( $event )" slot="end" size="medium" color="light">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item color="light" *ngIf="dir">
    <div class="ion-text-wrap">{{direccion}} - {{codigoCliente}}</div>
    <ion-button fill="clear" slot="end" size="medium" (click)="clienteInfoPopover( $event )">
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <p></p>
  <ion-grid fixed>
    <ion-row style="height:120px">
      <ion-col size="6" size-lg>
        <ion-button style="height:100%" (click)="abrirInventario()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="clipboard-outline"></ion-icon>
          Cardex
        </ion-button>
      </ion-col>
      <ion-col size="6" size-lg>
        <ion-button style="height:100%" (click)="abrirPedidos()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Pedidos
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height:120px">
      <ion-col size="6">
        <ion-button style="height:100%" (click)="abrirCobro()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          Cobro
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="height:100%" (click)="onClick()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="push-outline"></ion-icon>
          Dev
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height:120px">
      <ion-col size="6">
        <ion-button style="height:100%" (click)="abrirLiquida()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="business-outline"></ion-icon>
          Liquida
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="height:100%" (click)="abrirCuota()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
          Estadis
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height:120px">
      <ion-col size="6">
        <ion-button style="height:100%" (click)="abrirResumen()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
          Resumen
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="height:100%" (click)="abrirVisita()" size="large" expand="block" color="light">
          <ion-icon slot="start" name="receipt-outline"></ion-icon>
          Visitas
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
